/**************************************
 * Header Counters in TOC
 **************************************/

/* No link underlines in TOC */

.md-toc-content {
    counter-reset: h1toc
}

.md-toc-h1 {
    margin-left: 0;
    padding-left: 1rem;
    counter-reset: h2toc;
}

.md-toc-h2 {
    margin-left: 0;
    padding-left: 2rem;
    counter-reset: h3toc;
}

.md-toc-h3 {
    margin-left: 0;
    padding-left: 3rem;
    counter-reset: h4toc;
}

.md-toc-h4 {
    margin-left: 0;
    padding-left: 4rem;
    counter-reset: h5toc;
}

.md-toc-h5 {
    margin-left: 0;
    padding-left: 5rem;
    counter-reset: h6toc;
}

.md-toc-h6 {
    margin-left: 0;
    padding-left: 6rem;
}

.md-toc-h1:before,
.md-toc-h2:before,
.md-toc-h3:before,
.md-toc-h4:before,
.md-toc-h5:before,
.md-toc-h6:before {
    color: #A0A0A4;
    font-family: "Microsoft YaHei", "微软雅黑", Arial, Tahoma, sans-serif;
}

.md-toc-h1 a,
.md-toc-h2 a,
.md-toc-h3 a,
.md-toc-h4 a,
.md-toc-h5 a,
.md-toc-h6 a {
    border: 0;
}

.md-toc-h1 a:hover,
.md-toc-h2 a:hover,
.md-toc-h3 a:hover,
.md-toc-h4 a:hover,
.md-toc-h5 a:hover,
.md-toc-h6 a:hover {
    box-shadow: inherit;
}

.md-toc-h1 a:after,
.md-toc-h2 a:after,
.md-toc-h3 a:after,
.md-toc-h4 a:after,
.md-toc-h5 a:after,
.md-toc-h6 a:after {
    content: "";
}

.md-toc-h1:before {
    counter-increment: h1toc;
    content: counter(h1toc) ". "
}

.md-toc-h1 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h2:before {
    counter-increment: h2toc;
    content: counter(h1toc) "." counter(h2toc) ". "
}

.md-toc-h2 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h3:before {
    counter-increment: h3toc;
    content: counter(h1toc) "." counter(h2toc) "." counter(h3toc) ". "
}

.md-toc-h3 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h4:before {
    counter-increment: h4toc;
    content: counter(h1toc) "." counter(h2toc) "." counter(h3toc) "." counter(h4toc) ". "
}

.md-toc-h4 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h5:before {
    counter-increment: h5toc;
    content: counter(h1toc) "." counter(h2toc) "." counter(h3toc) "." counter(h4toc) "." counter(h5toc) ". "
}

.md-toc-h5 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h6:before {
    counter-increment: h6toc;
    content: counter(h1toc) "." counter(h2toc) "." counter(h3toc) "." counter(h4toc) "." counter(h5toc) "." counter(h6toc) ". "
}

.md-toc-h6 .md-toc-inner {
    margin-left: 0;
}

.md-toc-h1:before,
.md-toc-h2:before,
.md-toc-h3:before,
.md-toc-h4:before,
.md-toc-h5:before,
.md-toc-h6 {
    /*font-weight: normal;*/
}

/**************************************
 * Header Counters in Content
 **************************************/

/** initialize css counter */

#write {
    counter-reset: h1
}

h1 {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h4 {
    counter-reset: h5
}

h5 {
    counter-reset: h6
}

/** put counter result into headings */

#write h1:before,
#write h2:before {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Microsoft YaHei", "微软雅黑", Arial, Tahoma, sans-serif;
}

#write h3:before,
#write h4:before,
#write h5:before,
#write h6:before {
    color: rgba(17, 140, 223, 0.5);
    font-family: "Microsoft YaHei", "微软雅黑", Arial, Tahoma, sans-serif;
}

#write h1:before {
    counter-increment: h1;
    content: counter(h1) ". "
}

#write h2:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) ". "
}

#write h3:before,
h3.md-focus.md-heading:before {
    /*override the default style for focused headings */
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) ". "
}

#write h4:before,
h4.md-focus.md-heading:before {
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "
}

#write h5:before,
h5.md-focus.md-heading:before {
    counter-increment: h5;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "
}

#write h6:before,
h6.md-focus.md-heading:before {
    counter-increment: h6;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "
}

/** override the default style for focused headings */

#write>h3.md-focus:before,
#write>h4.md-focus:before,
#write>h5.md-focus:before,
#write>h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
    color: inherit;
    border: inherit;
    border-radius: inherit;
    position: inherit;
    left: initial;
    float: none;
    top: initial;
    font-size: inherit;
    padding-left: inherit;
    padding-right: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}
