/**************************************
 *
 * VLOOK™ 内置主题 for Typora
 *
 * Powered by MAX°孟兆
 *
 * QQ Group: 805502564
 * Telegram Channel: t.me/vlook_markdown
 * email: maxchow@qq.com
 *
 *************************************/

@import "vlook-note";

// 主题信息
@themeName: "vlook-note-dark";
@themeDesc: "Note (Dark)";

// 主题颜色外观 auto, light, dark
@thmColorScheme: dark;
