/**************************************
 *
 * VLOOK™ 模板主题
 *
 * powered by MAX°孟兆
 *
 * QQ Group: 805502564
 * email: maxchow@qq.com
 *
 *************************************/

@import "vlook-owl";

// 主题信息
@themeName: "vlook-owl-en";
@themeDesc: "Owl (En)";

// 自定义标题自动编号
// h1{{#ALPHA#. }},h2{{STEP-##-min#: }}
@vHeaderAutoNum: "h1{{Part #ALPHA#}},h2{{Step-##-min#:}}";
@h1BeforeContent: "Part " counter(h1, upper-alpha);
@h2BeforeContent: "Step-" counter(h2) ":";

// h1-6::before 的扩展样式
.genH1beforeExt() {
    display: block;
    font-size: 2em;
    font-weight: normal;
}
