/**************************************
 *
 * VLOOK™ CSS 调色板 for Typora
 * (配合 base.less 进行使用)
 *
 * V2026.7
 * 2026-07-25
 * Powered by MAX°孟兆
 *
 * QQ Group: 805502564
 * Telegram Channel: t.me/vlook_markdown
 * email: maxchow@qq.com
 *
 * https://github.com/MadMaxChow/VLOOK
 * https://gitee.com/madmaxchow/VLOOK
 *
 *************************************/

/**
 * 文档背景色
 * @param colorLight 在 Light Mode 的颜色
 * @param colorDark 在 Dark Mode 的颜色
 */
.applyDocBgColor(@colorLight, @colorDark) {
    :root {
        --db-lg: @colorLight;
        --db-ext-lg: @colorLight;
        --d-cb-lg: @colorLight;
        --db-r-lg: red(@colorLight);
        --db-g-lg: green(@colorLight);
        --db-b-lg: blue(@colorLight);

        --db-dk: @colorDark;
        --db-ext-dk: @colorDark;
        --d-cb-dk: @colorDark;
        --db-r-dk: red(@colorDark);
        --db-g-dk: green(@colorDark);
        --db-b-dk: blue(@colorDark);
    }
}
.applyDocBgColor(@colorLight, @colorDark, @forExtLight, @forExtDark) {
    .applyDocBgColor(@colorLight, @colorDark);
    :root {
        --db-ext-lg: @forExtLight;
        --db-ext-dk: @forExtDark;
    }
}
.applyDocBgColor(@docBgColorLight, @docBgColorDark);

/**
 * 代码块背景色
 * @param colorLight 在 Light Mode 的颜色
 * @param colorDark 在 Dark Mode 的颜色
 */
.applyCodeBlockBgColor(@colorLight, @colorDark) {
    :root {
        --d-cb-lg: @colorLight;
        --d-cb-dk: @colorDark;
    }
}
.applyCodeBlockBgColor(@colorWhite, @colorBlack);

/**
 * 文档背景图片
 * @param bgImgLight 在 Light Mode 的图片
 * @param bgImgDark 在 Dark Mode 的图片
 */
 .applyDocBgImg(@bgImgLight, @bgImgDark, @bgImgPos) {
    .applyDocBgImg(@bgImgLight, @bgImgDark);
    :root {
        --d-bi-pos: @bgImgPos;
    }
 }
.applyDocBgImg(@bgImgLight, @bgImgDark) {
    :root {
        --d-bi-lg: @bgImgLight;
        --d-bi-dk: @bgImgDark;
    }
}
.applyDocBgImg(@bgImgLight) {
    .applyDocBgImg(@bgImgLight, var(--d-bi-lg));
}
.applyDocBgImg(none, none);

/**
 * 文档文字色
 * @param colorLight 在 Light Mode 的颜色
 * @param colorDark 在 Dark Mode 的颜色
 */
.applyDocTextColor(@colorLight, @colorDark) {
    :root {
        --df-lg: @colorLight;
        --df-a-lg: lighten(@colorLight, 40%);
        --df-r-lg: red(@colorLight);
        --df-g-lg: green(@colorLight);
        --df-b-lg: blue(@colorLight);

        --df-dk: @colorDark;
        --df-a-dk: darken(@colorDark, 40%);
        --df-r-dk: red(@colorDark);
        --df-g-dk: green(@colorDark);
        --df-b-dk: blue(@colorDark);

        .genTweaks() when not (@thmNavCenterStyle = edge) {
            --toc-h-num-c-lg: fade(@colorLight, 50%);
            --toc-h-num-c-dk: fade(@colorDark, 45%);
        }
        .genTweaks() when (@thmNavCenterStyle = edge) {
            --toc-h-num-c-lg: currentColor;
            --toc-h-num-c-dk: currentColor;
        }
        .genTweaks();
    }
}
.applyDocTextColor(@docTextColorLight, @docTextColorDark);

/**
 * 面板颜色
 * @param colorLight 在 Light Mode 的颜色
 * @param colorDark 在 Dark Mode 的颜色
 */
.applyPanelColor(@colorLight, @colorDark) {
    :root {
        --pn-c-lg: @colorLight;
        --pn-c-a-lg: darken(@colorLight, 8%);
        --pn-r-lg: red(@colorLight);
        --pn-g-lg: green(@colorLight);
        --pn-b-lg: blue(@colorLight);
        --bq-bg-lg: fade(@colorLight, 75%);
        --bq-bg-fd-lg: fade(@colorLight, 50%);

        --pn-c-dk: @colorDark;
        --pn-c-a-dk: lighten(@colorDark, 5%);
        --pn-r-dk: red(@colorDark);
        --pn-g-dk: green(@colorDark);
        --pn-b-dk: blue(@colorDark);
        --bq-bg-dk: fade(@colorDark, 50%);
        --bq-bg-fd-dk: fade(@colorDark, 25%);

        // 指定在 Dark Mode 时反转的图片边框颜色（先使用反色，这样在反转时则能保持与色一致）
        --img-bd-invert-lg: @colorLight;
        --img-bd-invert-dk: rgb(255 - red(@colorDark), 255 - green(@colorDark), 255 - blue(@colorDark));
    }
}
.applyPanelColor(@colorLight, @colorDark, @forBlockquoteLight, @forBlockquoteDark) {
    .applyPanelColor(@colorLight, @colorDark);
    :root {
        --bq-bg-lg: @forBlockquoteLight;
        --bq-bg-dk: @forBlockquoteDark;

        --bq-bg-fd-lg: fade(@forBlockquoteLight, 30%);
        --bq-bg-fd-dk: fade(@forBlockquoteDark, 30%);
    }
}
@panelColorLight: #EBEDEF;
@panelColorDark: #383A3C;
.applyPanelColor(@panelColorLight, @panelColorDark);

// --------------------
// 通用的强调色参数
@accOpacity: 25%;

@accOpacityHighForLg: 60%;
@accOpacityMiddleForLg: 30%;
@accOpacityLowForLg: 15%;

@accOpacityHighForDk: 35%;
@accOpacityMiddleForDk: 20%;
@accOpacityLowForDk: 75%;

@accTitleDarken: 5%;

// --- 比较浅的（亮度高 high）

@accPk: #F8A8DD;
@accPkDark: #F8A8DD;
@accPkAlt: #FCEDF7;
@accPkAltDark: #754F69;

@accPl: #F9C7C7;
@accPlDark: #F9C7C7;
@accPlAlt: #FCF6F6;
@accPlAltDark: #756060;

@accGd: #DFBEBD;
@accGdDark: #DFBEBD;
@accGdAlt: #FBF3F2;
@accGdAltDark: #756362;

@accYe: #FAC208;;
@accYeDark: #F5C114;
@accYeAlt: #FDF4D9;
@accYeAltDark: #755D0C;

@accWt: #FFF;//@docBgColorLight;
@accWtDark: #000;//@docBgColorDark;
@accWtAlt: #E6EAEF;//@accGyAlt;
@accWtAltDark: #5C6166;//@accGyAltDark;

@accLm: #B4D219;
@accLmDark: #B1CC29;
@accLmAlt: #F5FADC;
@accLmAltDark: #596614;

@accAq: #67D7D8;
@accAqDark: #67D7D8;
@accAqAlt: #EBFAFA;
@accAqAltDark: #1F6666;

@accSk: #88C1FA;
@accSkDark: #92C6FA;
@accSkAlt: #E9F3FD;
@accSkAltDark: #3A5D80;

@accLa: #BBAEF9;
@accLaDark: #BBAEF9;
@accLaAlt: #EEEDFC;
@accLaAltDark:#524885;

// --- 中间值（亮度中 medium）

@accRo: #E440C9;
@accRoDark: #E44BCB;
@accRoAlt: #F5CEEE;
@accRoAltDark: #5C004D;

@accRd: #D01010;
@accRdDark: #E04C4C;
@accRdAlt: #FAD2D2;
@accRdAltDark: #571A1A;

@accBn: #B2745A;
@accBnDark: #B2745A;
@accBnAlt: #571A1A;
@accBnAltDark: #4D3226;

@accOg: #F38019;
@accOgDark: #F38D32;
@accOgAlt: #FAE5D2;
@accOgAltDark: #5C3009;

@accGy: #888B8F;
@accGyDark: #878A8F;
@accGyAlt: #E1E5EA;
@accGyAltDark: #343738;

@accGn: #29A953;
@accGnDark: #29A953;
@accGnAlt: #D4F0DD;
@accGnAltDark: #104321;

@accCy: #10A0A8;
@accCyDark: #15AAB3;
@accCyAlt: #CEF2F5;
@accCyAltDark: #0E4547;

@accBu: #2082F0;
@accBuDark: #4998F0;
@accBuAlt: #CDE4FA;
@accBuAltDark: #153E6B;

@accVn: #735DE0;
@accVnDark: #8471E0;
@accVnAlt: #DFD7F5;
@accVnAltDark: #382966;

// --- 比较深的（亮度低 low）

@accPu: #9420B0;
@accPuDark: #AB25CC;
@accPuAlt: #E9BAF5;
@accPuAltDark: #400E4D;

@accWn: #901050;
@accWnDark: #BF3078;
@accWnAlt: #F5BFDA;
@accWnAltDark: #470828;

@accCf: #62453E;
@accCfDark: #76534B;
@accCfAlt: #D7BCB5;
@accCfAltDark: #342521;

@accTu: #C79215;
@accTuDark: #C79215;
@accTuAlt: #F6E4BB;
@accTuAltDark: #3D2D06;

@accBk: #000;//#202428;#303438;
@accBkDark: #fff;//#E9EAEB;
@accBkAlt: #C0C9D1;
@accBkAltDark: #3C3F42;

@accOl: #607010;
@accOlDark: #75852A;
@accOlAlt: #D6E0A2;
@accOlAltDark: #303808;

@accMn: #0E7150;
@accMnDark: #0F805A;
@accMnAlt: #ABE0CE;
@accMnAltDark: #063324;

@accSe: #104BC0;
@accSeDark: #3C74E6;
@accSeAlt: #AEC2EB;
@accSeAltDark: #122B5C;

@accAu: #4A15B2;
@accAuDark: #6E32E5;
@accAuAlt: #C1AEE5;
@accAuAltDark: #2C145C;

:root {
    --i-checking: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect fill='%23AAA' width='30' height='30' rx='6'/%3E%3Cpath d='M7 18a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm8 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm8 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
    --i-check-passed: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect fill='%2310A030' width='30' height='30' rx='6'/%3E%3Cpath d='M23.457 10.469l-8.603 12.287c-.194.277-.441.493-.718.646l-.04.022-.044.022a2.142 2.142 0 0 1-2.491-.392l-4.546-4.546a2.143 2.143 0 1 1 3.03-3.03l2.75 2.747 7.152-10.214a2.143 2.143 0 0 1 3.51 2.458z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
    --i-check-failed: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect fill='%23C01010' width='30' height='30' rx='6'/%3E%3Cpath d='M18.375 6c.224 0 .438.089.596.247l4.782 4.782a.84.84 0 0 1 .247.596v6.75c0 .224-.09.438-.247.596l-4.782 4.782a.842.842 0 0 1-.596.247h-6.75a.842.842 0 0 1-.596-.247L6.247 18.97A.842.842 0 0 1 6 18.375v-6.75c0-.224.089-.438.247-.596l4.782-4.782A.842.842 0 0 1 11.625 6h6.75zM15 18.375a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25zm0-7.875c-.621 0-1.125.472-1.125 1.055v4.64c0 .583.504 1.055 1.125 1.055s1.125-.472 1.125-1.055v-4.64c0-.583-.504-1.055-1.125-1.055z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");

    // 针对 fade for light
    --ac-gd-fd-bd-lg: fade(@accGd, @accOpacityHighForLg);
    --ac-pl-fd-bd-lg: fade(@accPl, @accOpacityHighForLg);
    --ac-pk-fd-bd-lg: fade(@accPk, @accOpacityHighForLg);
    --ac-ye-fd-bd-lg: fade(@accYe, @accOpacityHighForLg);
    --ac-lm-fd-bd-lg: fade(@accLm, @accOpacityHighForLg);
    --ac-aq-fd-bd-lg: fade(@accAq, @accOpacityHighForLg);
    --ac-sk-fd-bd-lg: fade(@accSk, @accOpacityHighForLg);
    --ac-la-fd-bd-lg: fade(@accLa, @accOpacityHighForLg);

    --ac-bn-fd-bd-lg: fade(@accBn, @accOpacityMiddleForLg);
    --ac-ro-fd-bd-lg: fade(@accRo, @accOpacityMiddleForLg);
    --ac-rd-fd-bd-lg: fade(@accRd, @accOpacityMiddleForLg);
    --ac-og-fd-bd-lg: fade(@accOg, @accOpacityHighForLg);
    --ac-tu-fd-bd-lg: fade(@accTu, @accOpacityHighForLg);
    --ac-gn-fd-bd-lg: fade(@accGn, @accOpacityMiddleForLg);
    --ac-cy-fd-bd-lg: fade(@accCy, @accOpacityMiddleForLg);
    --ac-bu-fd-bd-lg: fade(@accBu, @accOpacityMiddleForLg);
    --ac-vn-fd-bd-lg: fade(@accVn, @accOpacityMiddleForLg);
    --ac-gy-fd-bd-lg: fade(@accGy, @accOpacityMiddleForLg);

    --ac-cf-fd-bd-lg: fade(@accCf, @accOpacityLowForLg);
    --ac-au-fd-bd-lg: fade(@accAu, @accOpacityLowForLg);
    --ac-pu-fd-bd-lg: fade(@accPu, @accOpacityLowForLg);
    --ac-wn-fd-bd-lg: fade(@accWn, @accOpacityLowForLg);
    --ac-ol-fd-bd-lg: fade(@accOl, @accOpacityLowForLg);
    --ac-mn-fd-bd-lg: fade(@accMn, @accOpacityLowForLg);
    --ac-se-fd-bd-lg: fade(@accSe, @accOpacityLowForLg);
    --ac-wt-fd-bd-lg: fade(@accWt, @accOpacityHighForLg);
    --ac-bk-fd-bd-lg: fade(@accBk, @accOpacityLowForLg);

    --ac-t1-fd-bd-lg: @theme1Fade;
    --ac-t2-fd-bd-lg: @theme2Fade;

    // ---
    --btn-reflect-lg: rgba(255, 255, 255, 0.4);
    --btn-shadow-lg: rgba(0, 0, 0, 0.1);
    --btn-raised-lg: rgba(0, 0, 0, 0.3);

    // 针对 fade for dark
    --ac-gd-fd-bd-dk: fade(@accGd, @accOpacityHighForDk);
    --ac-pl-fd-bd-dk: fade(@accPl, @accOpacityHighForDk);
    --ac-pk-fd-bd-dk: fade(@accPk, @accOpacityHighForDk);
    --ac-ye-fd-bd-dk: fade(@accYe, @accOpacityHighForDk);
    --ac-lm-fd-bd-dk: fade(@accLm, @accOpacityHighForDk);
    --ac-aq-fd-bd-dk: fade(@accAq, @accOpacityHighForDk);
    --ac-sk-fd-bd-dk: fade(@accSk, @accOpacityHighForDk);
    --ac-la-fd-bd-dk: fade(@accLa, @accOpacityHighForDk);

    --ac-bn-fd-bd-dk: fade(@accBn, @accOpacityMiddleForDk);
    --ac-ro-fd-bd-dk: fade(@accRo, @accOpacityMiddleForDk);
    --ac-rd-fd-bd-dk: fade(@accRd, @accOpacityMiddleForDk);
    --ac-og-fd-bd-dk: fade(@accOg, @accOpacityHighForDk);
    --ac-tu-fd-bd-dk: fade(@accTu, @accOpacityHighForDk);
    --ac-gn-fd-bd-dk: fade(@accGn, @accOpacityMiddleForDk);
    --ac-cy-fd-bd-dk: fade(@accCy, @accOpacityMiddleForDk);
    --ac-bu-fd-bd-dk: fade(@accBu, @accOpacityMiddleForDk);
    --ac-vn-fd-bd-dk: fade(@accVn, @accOpacityMiddleForDk);
    --ac-gy-fd-bd-dk: fade(@accGy, @accOpacityMiddleForDk);

    --ac-cf-fd-bd-dk: fade(@accCf, @accOpacityLowForDk);
    --ac-au-fd-bd-dk: fade(@accAu, @accOpacityLowForDk);
    --ac-pu-fd-bd-dk: fade(@accPu, @accOpacityLowForDk);
    --ac-wn-fd-bd-dk: fade(@accWn, @accOpacityLowForDk);
    --ac-ol-fd-bd-dk: fade(@accOl, @accOpacityLowForDk);
    --ac-mn-fd-bd-dk: fade(@accMn, @accOpacityLowForDk);
    --ac-se-fd-bd-dk: fade(@accSe, @accOpacityLowForDk);
    --ac-wt-fd-bd-dk: fade(@accWt, @accOpacityHighForDk);
    --ac-bk-fd-bd-dk: fade(@accBk, @accOpacityLowForDk);

    --ac-t1-fd-bd-dk: @theme1FadeDark;
    --ac-t2-fd-bd-dk: @theme2FadeDark;

    // ---

    --ac-gd-fd-bd: var(--ac-gd-fd-bd-lg);
    --ac-pl-fd-bd: var(--ac-pl-fd-bd-lg);
    --ac-pk-fd-bd: var(--ac-pk-fd-bd-lg);
    --ac-ye-fd-bd: var(--ac-ye-fd-bd-lg);
    --ac-lm-fd-bd: var(--ac-lm-fd-bd-lg);
    --ac-aq-fd-bd: var(--ac-aq-fd-bd-lg);
    --ac-sk-fd-bd: var(--ac-sk-fd-bd-lg);
    --ac-la-fd-bd: var(--ac-la-fd-bd-lg);

    --ac-bn-fd-bd: var(--ac-bn-fd-bd-lg);
    --ac-ro-fd-bd: var(--ac-ro-fd-bd-lg);
    --ac-rd-fd-bd: var(--ac-rd-fd-bd-lg);
    --ac-og-fd-bd: var(--ac-og-fd-bd-lg);
    --ac-tu-fd-bd: var(--ac-tu-fd-bd-lg);
    --ac-gn-fd-bd: var(--ac-gn-fd-bd-lg);
    --ac-cy-fd-bd: var(--ac-cy-fd-bd-lg);
    --ac-bu-fd-bd: var(--ac-bu-fd-bd-lg);
    --ac-vn-fd-bd: var(--ac-vn-fd-bd-lg);
    --ac-gy-fd-bd: var(--ac-gy-fd-bd-lg);

    --ac-cf-fd-bd: var(--ac-cf-fd-bd-lg);
    --ac-au-fd-bd: var(--ac-au-fd-bd-lg);
    --ac-pu-fd-bd: var(--ac-pu-fd-bd-lg);
    --ac-wn-fd-bd: var(--ac-wn-fd-bd-lg);
    --ac-ol-fd-bd: var(--ac-ol-fd-bd-lg);
    --ac-mn-fd-bd: var(--ac-mn-fd-bd-lg);
    --ac-se-fd-bd: var(--ac-se-fd-bd-lg);
    --ac-wt-fd-bd: var(--ac-wt-fd-bd-lg);
    --ac-bk-fd-bd: var(--ac-bk-fd-bd-lg);

    --ac-t1-fd-bd: var(--ac-t1-fd-bd-lg);
    --ac-t2-fd-bd: var(--ac-t2-fd-bd-lg);

    // ---
    --btn-reflect-dk: rgba(255, 255, 255, 0.2);
    --btn-shadow-dk: rgba(0, 0, 0, 0.4);
    --btn-raised-dk: rgba(0, 0, 0, 0.4);
}

// --------------------
// 针对 Mermaid 专用的强调色色板
@mmColorRed: @accRd;
@mmColorRedAlt: lighten(@mmColorRed, 40%);

@mmColorOrange: @accOg;
@mmColorOrangeAlt: lighten(@mmColorOrange, 45%);

@mmColorYellow: @accYe;
@mmColorYellowAlt: lighten(@mmColorYellow, 40%);

@mmColorGreen: @accGn;
@mmColorGreenAlt: lighten(@mmColorGreen, 45%);

@mmColorCyan: @accCy;
@mmColorCyanAlt: lighten(@mmColorCyan, 48%);

@mmColorBlue: @accBu;
@mmColorBlueAlt: lighten(@mmColorBlue, 40%);

@mmColorPurple: @accPu;
@mmColorPurpleAlt: lighten(@mmColorPurple, 35%);

@mmColorPink: @accPk;
@mmColorPinkAlt: lighten(@mmColorPink, 10%);

@mmColorBrown: @accBn;
@mmColorBrownAlt: lighten(@mmColorBrown, 48%);

@mmColorGray: @accGy;
@mmColorGrayAlt: lighten(@mmColorGray, 38%);

:root {
    // --------------------
    // 针对 #Color_Scheme
    // 针对 Light 模式的颜色值
    --v-invert-dark-lg: invert(0) brightness(100%); // 用于 Light Mode 下图片滤镜
    --v-cover-dark-lg: brightness(100%); // 用于 Light 模式下封面、封底的滤镜
    --v-selected-c-lg: fade(@docBgColorDark, 20%); // 选中内容的背景色

    --a-c-lg: @aColor;
    --a-o-c-lg: @aHoverColor;
    --mark-bg-lg: @markBg;
    --tbl-row-g-alpha-lg: .15;
    --h-f-lg: @headerColor;
    --h-box-sd-lg: fade(@headerColor, 20%);
    --h-bg-start-lg: fade(@headerColor, 0%);
    --h-bg-end-lg: fade(@headerColor, 10%);
    --code-bg-lg: @codeBgColor;
    --code-t-lg: @codeTextColor;
    --std-code-sd-lg: var(--pn-c-a-lg);
    --rb-code-sd-lg: #0000004D;//rgba(0, 0, 0, .3);
    --v-ui-bg-lg: @uiBgColor;
    --v-btn-bg-lg: @buttonBgColor;

    // 按钮类外阴影
    --v-fl-sd-lg: 0 2px 16px #0003;//rgba(0, 0, 0, .25);
    // 按钮类外边框
    --v-fl-bd-lg: 1px solid #0000001A;//rgba(0, 0, 0, .1);

    // 代码块背景图（Light）
    --c-blk-bg-lg: @codeBlockBackground;

    // 图片的非网格背景
    --fig-solid-bg-lg: @colorWhite;
    // 图片的线状网格背景（线状、块状)
    --v-fig-grid-l-lg: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgBAMAAAB54XoeAAAAD1BMVEX////a7P6ayvy62/1dqvqPhbtmAAAAiUlEQVRo3u3ZQQqAIBAF0PIG1Q2k+5+xoKiojQuJGXiC8BfywIV81OEaY58EBAKBf4OlcWEBvtN0jLmutZ552ecnta5LsOVEYPyjBwQCgc90t0GflGDLQCAQCNQpQCAQCAwO6hQgEAhM9zAeFvSfEhmMf/SAQCDQPQUIBAKBOgUIBAKBkcHenbIB1o4w9VtLAFYAAAAASUVORK5CYII=");
    --v-fig-grid-b-lg: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgBAMAAAB54XoeAAAAD1BMVEUmdsdGis99rd1hm9axzuoZZ5CxAAAAiUlEQVRo3u3ZQQqAIBAF0PIG1Q2k+5+xoKiojQuJGXiC8BfywIV81OEaY58EBAKBf4OlcWEBvtN0jLmutZ552ecnta5LsOVEYPyjBwQCgc90t0GflGDLQCAQCNQpQCAQCAwO6hQgEAhM9zAeFvSfEhmMf/SAQCDQPQUIBAKBOgUIBAKBkcHenbIB1o4w9VtLAFYAAAAASUVORK5CYII=");
    // 针对 Dark Mode 时反色的图片网格背景（线状、块状)
    --v-fig-grid-l-invert-lg: var(--v-fig-grid-l-lg);
    --v-fig-grid-b-invert-lg: var(--v-fig-grid-b-lg);

    // 代码块的系统菜单样式
    --v-i-sys-menu: url("data:image/svg+xml,%3Csvg width='52' height='12' viewBox='0 0 52 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle stroke='%23E65750' fill='%23FE6058' cx='6' cy='6' r='5.5'/%3E%3Ccircle stroke='%23E6AB2A' fill='%23FFBE2F' cx='26' cy='6' r='5.5'/%3E%3Ccircle stroke='%2321B039' fill='%2326C941' cx='46' cy='6' r='5.5'/%3E%3C/g%3E%3C/svg%3E");

    --doc-sd-lg: #00000033;//rgba(0, 0, 0, .2);

    --ac-rd-lg: @accRd;
    --ac-rd-a-lg: @accRdAlt;
    --ac-rd-fd-lg: fade(@accRd, @accOpacity);
    --ac-rd-tt-lg: var(--ac-rd-lg);
    --ac-og-lg: @accOg;
    --ac-og-a-lg: @accOgAlt;
    --ac-og-fd-lg: fade(@accOg, @accOpacity);
    --ac-og-tt-lg: var(--ac-og-lg);
    --ac-tu-lg: @accTu;
    --ac-tu-a-lg: @accTuAlt;
    --ac-tu-fd-lg: fade(@accTu, @accOpacity);
    --ac-tu-tt-lg: var(--ac-tu-lg);
    --ac-ye-lg: @accYe;
    --ac-ye-a-lg: @accYeAlt;
    --ac-ye-fd-lg: fade(@accYe, @accOpacity);
    --ac-ye-tt-lg: darken(@accYe, @accTitleDarken);
    --ac-lm-lg: @accLm;
    --ac-lm-a-lg: @accLmAlt;
    --ac-lm-fd-lg: fade(@accLm, @accOpacity);
    --ac-lm-tt-lg: darken(@accLm, @accTitleDarken);
    --ac-gn-lg: @accGn;
    --ac-gn-a-lg: @accGnAlt;
    --ac-gn-fd-lg: fade(@accGn, @accOpacity);
    --ac-gn-tt-lg: var(--ac-gn-lg);
    --ac-aq-lg: @accAq;
    --ac-aq-a-lg: @accAqAlt;
    --ac-aq-fd-lg: fade(@accAq, @accOpacity);
    --ac-aq-tt-lg: darken(@accAq, @accTitleDarken);
    --ac-sk-lg: @accSk;
    --ac-sk-a-lg: @accSkAlt;
    --ac-sk-fd-lg: fade(@accSk, @accOpacity);
    --ac-sk-tt-lg: darken(@accSk, @accTitleDarken);
    --ac-mn-lg: @accMn;
    --ac-mn-a-lg: @accMnAlt;
    --ac-mn-fd-lg: fade(@accMn, @accOpacity);
    --ac-mn-tt-lg: darken(@accMn, @accTitleDarken);
    --ac-ol-lg: @accOl;
    --ac-ol-a-lg: @accOlAlt;
    --ac-ol-fd-lg: fade(@accOl, @accOpacity);
    --ac-ol-tt-lg: var(--ac-ol-lg);
    --ac-wn-lg: @accWn;
    --ac-wn-a-lg: @accWnAlt;
    --ac-wn-fd-lg: fade(@accWn, @accOpacity);
    --ac-wn-tt-lg: var(--ac-wn-lg);
    --ac-cy-lg: @accCy;
    --ac-cy-a-lg: @accCyAlt;
    --ac-cy-fd-lg: fade(@accCy, @accOpacity);
    --ac-cy-tt-lg: var(--ac-cy-lg);
    --ac-bu-lg: @accBu;
    --ac-bu-a-lg: @accBuAlt;
    --ac-bu-fd-lg: fade(@accBu, @accOpacity);
    --ac-bu-tt-lg: var(--ac-bu-lg);
    --ac-se-lg: @accSe;
    --ac-se-a-lg: @accSeAlt;
    --ac-se-fd-lg: fade(@accSe, @accOpacity);
    --ac-se-tt-lg: var(--ac-se-lg);
    --ac-la-lg: @accLa;
    --ac-la-a-lg: @accLaAlt;
    --ac-la-fd-lg: fade(@accLa, @accOpacity);
    --ac-la-tt-lg: darken(@accLa, @accTitleDarken);
    --ac-vn-lg: @accVn;
    --ac-vn-a-lg: @accVnAlt;
    --ac-vn-fd-lg: fade(@accVn, @accOpacity);
    --ac-vn-tt-lg: var(--ac-vn-lg);
    --ac-cf-lg: @accCf;
    --ac-cf-a-lg: @accCfAlt;
    --ac-cf-fd-lg: fade(@accCf, @accOpacity);
    --ac-cf-tt-lg: var(--ac-cf-lg);
    --ac-au-lg: @accAu;
    --ac-au-a-lg: @accAuAlt;
    --ac-au-fd-lg: fade(@accAu, @accOpacity);
    --ac-au-tt-lg: var(--ac-au-lg);
    --ac-pu-lg: @accPu;
    --ac-pu-a-lg: @accPuAlt;
    --ac-pu-fd-lg: fade(@accPu, @accOpacity);
    --ac-pu-tt-lg: var(--ac-pu-lg);
    --ac-ro-lg: @accRo;
    --ac-ro-a-lg: @accRoAlt;
    --ac-ro-fd-lg: fade(@accRo, @accOpacity);
    --ac-ro-tt-lg: var(--ac-ro-lg);
    --ac-pl-lg: @accPl;
    --ac-pl-a-lg: @accPlAlt;
    --ac-pl-fd-lg: fade(@accPl, @accOpacity);
    --ac-pl-tt-lg: darken(@accPl, @accTitleDarken);
    --ac-pk-lg: @accPk;
    --ac-pk-a-lg: @accPkAlt;
    --ac-pk-fd-lg: fade(@accPk, @accOpacity);
    --ac-pk-tt-lg: darken(@accPk, @accTitleDarken);
    --ac-gd-lg: @accGd;
    --ac-gd-a-lg: @accGdAlt;
    --ac-gd-fd-lg: fade(@accGd, @accOpacity);
    --ac-gd-tt-lg: darken(@accGd, @accTitleDarken);
    --ac-bn-lg: @accBn;
    --ac-bn-a-lg: @accBnAlt;
    --ac-bn-fd-lg: fade(@accBn, @accOpacity);
    --ac-bn-tt-lg: var(--ac-bn-lg);
    --ac-gy-lg: @accGy;
    --ac-gy-a-lg: @accGyAlt;
    --ac-gy-fd-lg: fade(@accGy, @accOpacity);
    --ac-gy-tt-lg: darken(@accGy, @accTitleDarken);
    --ac-wt-lg: @accWt;
    --ac-wt-a-lg: @accWtAlt;
    --ac-wt-fd-lg: fade(@accWt, @accOpacity);
    --ac-wt-tt-lg: var(--df-lg);//var(--ac-wt-lg);
    --ac-bk-lg: @accBk;
    --ac-bk-a-lg: @accBkAlt;
    --ac-bk-fd-lg: fade(@accBk, @accOpacity);
    --ac-bk-tt-lg: var(--df);//var(--ac-bk-lg);
    --ac-t1-lg: @theme1;
    --ac-t1-a-lg: @theme1Alt;
    --ac-t1-fd-lg: @theme1Fade;
    --ac-t1-tt-lg: var(--ac-t1-lg);
    --ac-t2-lg: @theme2;
    --ac-t2-a-lg: @theme2Alt;
    --ac-t2-fd-lg: @theme2Fade;
    --ac-t2-tt-lg: var(--ac-t2-lg);

    // --------------------
    // 针对 #Color_Scheme
    // 针对 Dark Mode的颜色值
    --v-invert-dark-dk: invert(1) brightness(@hoverBrightness); // 用于 Dark Mode 下图片滤镜
    --v-cover-dark-dk: brightness(90%); // 用于 Dark Mode下封面、封底的滤镜
    --v-selected-c-dk: fade(@docBgColorLight, 25%); // 选中内容的背景色

    --a-c-dk: @aColorDark;
    --a-o-c-dk: @aHoverColorDark;
    --mark-bg-dk: @markBgDark;
    --tbl-row-g-alpha-dk: .25;
    --h-f-dk: @headerColorDark;
    --h-box-sd-dk: fade(@headerColorDark, 20%);
    --h-bg-start-dk: fade(@headerColorDark, 0%);
    --h-bg-end-dk: fade(@headerColorDark, 15%);
    --code-bg-dk: @codeBgColorDark;
    --code-t-dk: @codeTextColorDark;
    --std-code-sd-dk: var(--pn-c-a-dk);
    --rb-code-sd-dk: #FFFFFF4D;//rgba(255, 255, 255, .3);
    --v-ui-bg-dk: @uiBgColorDark;
    --v-btn-bg-dk: @buttonBgColorDark;

    // 按钮类外阴影
    --v-fl-sd-dk: 0 2px 16px #0008;//rgba(0, 0, 0, .4);
    // 按钮类外边框
    --v-fl-bd-dk: 1px solid #ECEEEF40;

    // 代码块背景图（Dark）
    --c-blk-bg-dk: @codeBlockBackgroundDark;

    // 图片的非网格背景
    --fig-solid-bg-dk: @colorBlack;
    // 图片的线状网格背景（线状、块状)
    --v-fig-grid-l-dk: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgBAMAAAB54XoeAAAAD1BMVEUEDBQEOnAEY8IEVacEeOwONNxmAAAAiUlEQVRo3u3ZQQqAIBAF0PIG1Q2k+5+xoKiojQuJGXiC8BfywIV81OEaY58EBAKBf4OlcWEBvtN0jLmutZ552ecnta5LsOVEYPyjBwQCgc90t0GflGDLQCAQCNQpQCAQCAwO6hQgEAhM9zAeFvSfEhmMf/SAQCDQPQUIBAKBOgUIBAKBkcHenbIB1o4w9VtLAFYAAAAASUVORK5CYII=");
    --v-fig-grid-b-dk: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgBAMAAAB54XoeAAAAD1BMVEUPUZQyaqNvlr5QgLCpwNfC0feCAAAAiUlEQVRo3u3ZQQqAIBAF0PIG1Q2k+5+xoKiojQuJGXiC8BfywIV81OEaY58EBAKBf4OlcWEBvtN0jLmutZ552ecnta5LsOVEYPyjBwQCgc90t0GflGDLQCAQCNQpQCAQCAwO6hQgEAhM9zAeFvSfEhmMf/SAQCDQPQUIBAKBOgUIBAKBkcHenbIB1o4w9VtLAFYAAAAASUVORK5CYII=");
    // 针对 Dark Mode 时反色的图片网格背景（线状、块状)
    --v-fig-grid-l-invert-dk: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgBAMAAAB54XoeAAAAD1BMVEX78+v7xY/7nD37qlj7hxPQTWj+AAAAiUlEQVRo3u3ZQQqAIBAF0PIG1Q2k+5+xoKiojQuJGXiC8BfywIV81OEaY58EBAKBf4OlcWEBvtN0jLmutZ552ecnta5LsOVEYPyjBwQCgc90t0GflGDLQCAQCNQpQCAQCAwO6hQgEAhM9zAeFvSfEhmMf/SAQCDQPQUIBAKBOgUIBAKBkcHenbIB1o4w9VtLAFYAAAAASUVORK5CYII=");
    --v-fig-grid-b-invert-dk: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgBAMAAAB54XoeAAAAD1BMVEXwrmvNlVyQaUGvf09WPygcqEMaAAAAiUlEQVRo3u3ZQQqAIBAF0PIG1Q2k+5+xoKiojQuJGXiC8BfywIV81OEaY58EBAKBf4OlcWEBvtN0jLmutZ552ecnta5LsOVEYPyjBwQCgc90t0GflGDLQCAQCNQpQCAQCAwO6hQgEAhM9zAeFvSfEhmMf/SAQCDQPQUIBAKBOgUIBAKBkcHenbIB1o4w9VtLAFYAAAAASUVORK5CYII=");

    --doc-sd-dk: #000000CC;//rgba(0, 0, 0, .8);

    --ac-rd-dk: @accRdDark;
    --ac-rd-a-dk: @accRdAltDark;
    --ac-rd-fd-dk: fade(@accRdDark, @accOpacity);
    --ac-rd-tt-dk: var(--df-dk);
    --ac-ye-dk: @accYeDark;
    --ac-ye-a-dk: @accYeAltDark;
    --ac-ye-fd-dk: fade(@accYeDark, @accOpacity);
    --ac-ye-tt-dk: var(--df-dk);
    --ac-og-dk: @accOgDark;
    --ac-og-a-dk: @accOgAltDark;
    --ac-og-fd-dk: fade(@accOgDark, @accOpacity);
    --ac-og-tt-dk: var(--df-dk);
    --ac-tu-dk: @accTuDark;
    --ac-tu-a-dk: @accTuAltDark;
    --ac-tu-fd-dk: fade(@accTuDark, @accOpacity);
    --ac-tu-tt-dk: var(--df-dk);
    --ac-lm-dk: @accLmDark;
    --ac-lm-a-dk: @accLmAltDark;
    --ac-lm-fd-dk: fade(@accLmDark, @accOpacity);
    --ac-lm-tt-dk: var(--df-dk);
    --ac-gn-dk: @accGnDark;
    --ac-gn-a-dk: @accGnAltDark;
    --ac-gn-fd-dk: fade(@accGnDark, @accOpacity);
    --ac-gn-tt-dk: var(--df-dk);
    --ac-mn-dk: @accMnDark;
    --ac-mn-a-dk: @accMnAltDark;
    --ac-mn-fd-dk: fade(@accMnDark, @accOpacity);
    --ac-mn-tt-dk: var(--df-dk);
    --ac-ol-dk: @accOlDark;
    --ac-ol-a-dk: @accOlAltDark;
    --ac-ol-fd-dk: fade(@accOlDark, @accOpacity);
    --ac-ol-tt-dk: var(--df-dk);
    --ac-wn-dk: @accWnDark;
    --ac-wn-a-dk: @accWnAltDark;
    --ac-wn-fd-dk: fade(@accWnDark, @accOpacity);
    --ac-wn-tt-dk: var(--df-dk);
    --ac-aq-dk: @accAqDark;
    --ac-aq-a-dk: @accAqAltDark;
    --ac-aq-fd-dk: fade(@accAqDark, @accOpacity);
    --ac-aq-tt-dk: var(--df-dk);
    --ac-sk-dk: @accSkDark;
    --ac-sk-a-dk: @accSkAltDark;
    --ac-sk-fd-dk: fade(@accSkDark, @accOpacity);
    --ac-sk-tt-dk: var(--df-dk);
    --ac-cy-dk: @accCyDark;
    --ac-cy-a-dk: @accCyAltDark;
    --ac-cy-fd-dk: fade(@accCyDark, @accOpacity);
    --ac-cy-tt-dk: var(--df-dk);
    --ac-bu-dk: @accBuDark;
    --ac-bu-a-dk: @accBuAltDark;
    --ac-bu-fd-dk: fade(@accBuDark, @accOpacity);
    --ac-bu-tt-dk: var(--df-dk);
    --ac-se-dk: @accSeDark;
    --ac-se-a-dk: @accSeAltDark;
    --ac-se-fd-dk: fade(@accSeDark, @accOpacity);
    --ac-se-tt-dk: var(--df-dk);
    --ac-la-dk: @accLaDark;
    --ac-la-a-dk: @accLaAltDark;
    --ac-la-fd-dk: fade(@accLaDark, @accOpacity);
    --ac-la-tt-dk: var(--df-dk);
    --ac-vn-dk: @accVnDark;
    --ac-vn-a-dk: @accVnAltDark;
    --ac-vn-fd-dk: fade(@accVnDark, @accOpacity);
    --ac-vn-tt-dk: var(--df-dk);
    --ac-cf-dk: @accCfDark;
    --ac-cf-a-dk: @accCfAltDark;
    --ac-cf-fd-dk: fade(@accCfDark, @accOpacity);
    --ac-cf-tt-dk: var(--df-dk);
    --ac-au-dk: @accAuDark;
    --ac-au-a-dk: @accAuAltDark;
    --ac-au-fd-dk: fade(@accAuDark, @accOpacity);
    --ac-au-tt-dk: var(--df-dk);
    --ac-pu-dk: @accPuDark;
    --ac-pu-a-dk: @accPuAltDark;
    --ac-pu-fd-dk: fade(@accPuDark, @accOpacity);
    --ac-pu-tt-dk: var(--df-dk);
    --ac-ro-dk: @accRoDark;
    --ac-ro-a-dk: @accRoAltDark;
    --ac-ro-fd-dk: fade(@accRoDark, @accOpacity);
    --ac-ro-tt-dk: var(--df-dk);
    --ac-pl-dk: @accPlDark;
    --ac-pl-a-dk: @accPlAltDark;
    --ac-pl-fd-dk: fade(@accPlDark, @accOpacity);
    --ac-pl-tt-dk: var(--df-dk);
    --ac-pk-dk: @accPkDark;
    --ac-pk-a-dk: @accPkAltDark;
    --ac-pk-fd-dk: fade(@accPkDark, @accOpacity);
    --ac-pk-tt-dk: var(--df-dk);
    --ac-gd-dk: @accGdDark;
    --ac-gd-a-dk: @accGdAltDark;
    --ac-gd-fd-dk: fade(@accGdDark, @accOpacity);
    --ac-gd-tt-dk: var(--df-dk);
    --ac-bn-dk: @accBnDark;
    --ac-bn-a-dk: @accBnAltDark;
    --ac-bn-fd-dk: fade(@accBnDark, @accOpacity);
    --ac-bn-tt-dk: var(--df-dk);
    --ac-gy-dk: @accGyDark;
    --ac-gy-a-dk: @accGyAltDark;
    --ac-gy-fd-dk: fade(@accGyDark, @accOpacity);
    --ac-gy-tt-dk: var(--df-dk);
    --ac-wt-dk: @accWtDark;
    --ac-wt-a-dk: @accWtAltDark;
    --ac-wt-fd-dk: fade(@accWtDark, @accOpacity);
    --ac-wt-tt-dk: var(--df-dk);
    --ac-bk-dk: @accBkDark;
    --ac-bk-a-dk: @accBkAltDark;
    --ac-bk-fd-dk: fade(@accBkDark, @accOpacity);
    --ac-bk-tt-dk: var(--df);
    --ac-t1-dk: @theme1Dark;
    --ac-t1-a-dk: @theme1AltDark;
    --ac-t1-fd-dk: @theme1FadeDark;
    --ac-t1-tt-dk: var(--df-dk);
    --ac-t2-dk: @theme2Dark;
    --ac-t2-a-dk: @theme2AltDark;
    --ac-t2-fd-dk: @theme2FadeDark;
    --ac-t2-tt-dk: var(--df-dk);
}
