/**************************************
* VLOOK CSS 调色板
*
* V10.1
* 2021-03-19
* 配合 base.less 进行使用
*
***************************************/

// 纯透明色
@transparencyColor0: fade(#FFFFFF, 0);
@transparencyColor1: fade(#FFFFFF, 20%);
@transparencyColor2: fade(#FFFFFF, 40%);
@transparencyColor3: fade(#FFFFFF, 60%);
@transparencyColor4: fade(#FFFFFF, 80%);

// 文档背景色（浅色方案）
@docBgColorLight: #FFFFFF;
@docBgColorLightAlt: darken(@docBgColorLight, 10%);
@docBgColorLightFade: fade(@docBgColorLight, 30%);
// 文档背景色（深色方案）
@docBgColorDark: #181A1E;
@docBgColorDarkAlt: lighten(@docBgColorDark, 15%);
@docBgColorDarkFade: fade(@docBgColorDark, 30%);

// 文档前景色（浅色方案）
@foreColorLight: #181A1E;
@foreColorLightAlt: lighten(@foreColorLight, 40%);
@foreColorLightFade: fade(@foreColorLight, 50%);
@foreColorLightFade1: fade(@foreColorLight, 15%);
@foreColorLightFade2: fade(@foreColorLight, 10%);
@foreColorLightFade3: fade(@foreColorLight, 5%);
// 文档前景色（深色方案）
@foreColorDark: #E0E4E8;
@foreColorDarkAlt: darken(@foreColorDark, 30%);
@foreColorDarkFade: fade(@foreColorDark, 50%);

// 表格（浅色方案）
@tableColor: #B0B4B8; // 表格基础色
@tableBorderColor: fade(@tableColor, 80%); // 表格边框
@tableThBgColor: fade(@tableColor, 40%);
@tableThBorderColor: @tableBorderColor;
@tableTdBgColor: fade(@tableThBgColor, 0%); // 表格奇数行
@tableTdBorderColor: fade(@tableBorderColor, 20%);
@tableTdBgColor2: fade(@tableThBgColor, 10%); // 表格偶数行
// 表格（深色方案）
@tableColorDark: #505458; // 表格基础色
@tableBorderColorDark: fade(@tableColorDark, 80%); // 表格边框
@tableThBgColorDark: fade(lighten(@tableColorDark, 30%), 30%);
@tableThBorderColorDark: @tableBorderColorDark;
@tableTdBorderColorDark: fade(@tableBorderColorDark, 10%);
// @tableTdBgColor2Dark: fade(@tableThBorderColorDark, 10%); // 表格偶数行

// 指定在 Dark Mode 时反转的图片边框颜色（先使用反色，这样在反转时则能保持与色一致）
@imgInvertInDarkBorderColor: rgba(255 - red(@tableBorderColorDark), 255 - green(@tableBorderColorDark), 255 - blue(@tableBorderColorDark), alpha(@tableBorderColorDark));

// 强调色色板
@accentColorRed: #C72334;
@accentColorRedDark: darken(@accentColorRed, 20%);
@accentColorRedAlt: lighten(@accentColorRed, 30%);
@accentColorRedAltDark: darken(@accentColorRedAlt, 20%);
// @accentColorRedFade: fade(@accentColorRed, 25%);

@accentColorOrange: #E27D09;
@accentColorOrangeDark: darken(@accentColorOrange, 20%);
@accentColorOrangeAlt: lighten(@accentColorOrange, 35%);
@accentColorOrangeAltDark: darken(@accentColorOrangeAlt, 20%);
// @accentColorOrangeFade: fade(@accentColorOrange, 25%);

@accentColorYellow: #DFB50C;
@accentColorYellowDark: darken(@accentColorYellow, 20%);
@accentColorYellowAlt: lighten(@accentColorYellow, 35%);
@accentColorYellowAltDark: darken(@accentColorYellowAlt, 20%);
// @accentColorYellowFade: fade(@accentColorYellow, 25%);

@accentColorGreen: #38AB21;
@accentColorGreenDark: darken(@accentColorGreen, 20%);
@accentColorGreenAlt: lighten(@accentColorGreen, 35%);
@accentColorGreenAltDark: darken(@accentColorGreenAlt, 20%);
// @accentColorGreenFade: fade(@accentColorGreen, 25%);

@accentColorCyan: #18A8BF;
@accentColorCyanDark: darken(@accentColorCyan, 20%);
@accentColorCyanAlt: lighten(@accentColorCyan, 35%);
@accentColorCyanAltDark: darken(@accentColorCyanAlt, 20%);
// @accentColorCyanFade: fade(@accentColorCyan, 25%);

@accentColorBlue: #056BF0;
@accentColorBlueDark: darken(@accentColorBlue, 20%);
@accentColorBlueAlt: lighten(@accentColorBlue, 35%);
@accentColorBlueAltDark: darken(@accentColorBlueAlt, 20%);
// @accentColorBlueFade: fade(@accentColorBlue, 25%);

@accentColorPurple: #7738DC;
@accentColorPurpleDark: darken(@accentColorPurple, 20%);
@accentColorPurpleAlt: lighten(@accentColorPurple, 35%);
@accentColorPurpleAltDark: darken(@accentColorPurpleAlt, 20%);
// @accentColorPurpleFade: fade(@accentColorPurple, 25%);

@accentColorPink: #DB43B2;
@accentColorPinkDark: darken(@accentColorPink, 20%);
@accentColorPinkAlt: lighten(@accentColorPink, 35%);
@accentColorPinkAltDark: darken(@accentColorPinkAlt, 20%);
// @accentColorPinkFade: fade(@accentColorPink, 25%);

@accentColorBrown: #A47546;
@accentColorBrownDark: darken(@accentColorBrown, 20%);
@accentColorBrownAlt: lighten(@accentColorBrown, 35%);
@accentColorBrownAltDark: darken(@accentColorBrownAlt, 20%);
// @accentColorBrownFade: fade(@accentColorBrown, 25%);

@accentColorGray: #636569;
@accentColorGrayDark: darken(@accentColorGray, 20%);
@accentColorGrayAlt: lighten(@accentColorGray, 35%);
@accentColorGrayAltDark: darken(@accentColorGrayAlt, 20%);
// @accentColorGrayFade: fade(@accentColorGray, 25%);
