/**************************************
* VLOOK CSS 字体主题
***************************************/

@fontSize: 1em;

// Rangs of font-weight:
//   100 - Thin
//   200 - Extra Light (Ultra Light)
//   300 - Light
//   400 - Regular (Normal、Book、Roman)
//   500 - Medium
//   600 - Semi Bold (Demi Bold)
//   700 - Bold
//   800 - Extra Bold (Ultra Bold)
//   900 - Black (Heavy)

// VLOOK 文艺范字体（等宽拉丁）
// @font-face {
//     font-family: "VLOOK Serif Mono";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/luxi-woff2/luximr.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/luxi/luximr.ttf") format('truetype');
//     font-weight: normal;
// }
// @font-face {
//     font-family: "VLOOK Serif Mono";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/luxi-woff2/luximb.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/luxi/luximb.ttf") format('truetype');
//     font-weight: bold;
// }
// @font-face {
//     font-family: "VLOOK Serif Mono";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/luxi-woff2/luximri.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/luxi/luximri.ttf") format('truetype');
//         font-style: italic;
//         font-weight: normal;
// }
// @font-face {
//     font-family: "VLOOK Serif Mono";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/luxi-woff2/luximbi.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/luxi/luximbi.ttf") format('truetype');
//     font-style: italic;
//     font-weight: bold;
// }

// VLOOK 文艺范字体（东亚）


// VLOOK 小清新字体（等宽拉丁）
// @font-face {
//     font-family: "VLOOK Sans Mono";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/NotoSansMono-woff2/NotoSansMono-Regular.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/NotoSansMono/NotoSansMono-Regular.ttf") format('truetype');
//     font-weight: normal;
// }
// @font-face {
//     font-family: "VLOOK Sans Mono";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/NotoSansMono-woff2/NotoSansMono-Medium.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/NotoSansMono/NotoSansMono-Medium.ttf") format('truetype');
//     font-weight: 500;
// }
// @font-face {
//     font-family: "VLOOK Sans Mono";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/NotoSansMono-woff2/NotoSansMono-Bold.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/NotoSansMono/NotoSansMono-Bold.ttf") format('truetype');
//     font-weight: bold;
// }
// @font-face {
//     font-family: "VLOOK Sans Mono";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/NotoSansMono-woff2/NotoSansMono-Black.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/NotoSansMono/NotoSansMono-Black.ttf") format('truetype');
//     font-weight: 900;
// }

// VLOOK 小清新字体（东亚）


// VLOOK 字体（数值）
// @font-face {
//     font-family: "VLOOK Number";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/Altinn-DIN-woff2/Altinn-DIN.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/Altinn-DIN/Altinn-DIN.otf") format('opentype');
//     font-weight: normal;
// }
// @font-face {
//     font-family: "VLOOK Number";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/Altinn-DIN-woff2/Altinn-DIN-Bold.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/Altinn-DIN/Altinn-DIN-Bold.otf") format('opentype');
//     font-weight: bold;
// }
// @font-face {
//     font-family: "VLOOK Number";
//     src: url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/Altinn-DIN-woff2/Altinn-DIN-Italic.woff2") format('woff2'),
//         url("https://cdn.jsdelivr.net/gh/MadMaxChow/uploads@master/font/Altinn-DIN/Altinn-DIN-Italic.otf") format('opentype');
//     font-weight: normal;
//     font-style: italic;
// }

// =========================================
// 基础字体信息
// -----------------------------------------
// 基础等宽字体
@base_mono: Courier, "Courier New";
// 数值字体
@number_font: "VLOOK Number", "Altinn-DIN", "Bebas Neue", "DIN";
// 基础非衬线字体
@base_sans_en: "Helvetica Neue", Helvetica, Arial, Tahoma;
@base_sans_cn: SimHei, "黑体", "PingFang SC", "PingFang TC", "PingFang HK";
@base_mono_sans_en: "VLOOK Sans Mono", "Noto Sans Mono", Iosevka, "SF Mono", Menlo, "Cascadia Mono", Consolas, @base_mono;
// 基础衬线字体
@base_serif_en: "Times New Roman", Times;
@base_serif_cn: "Songti SC", SimSun, "宋体", STZhongsong, "华文中宋";
@base_mono_serif_en: "VLOOK Serif Mono", "Luxi Mono", "Iosevka Slab", "PT Mono", @base_mono, @base_mono_sans_en;

//=========================================
// 非衬线风格字体信息
// ----------------------------------------
// Microsoft YaHei 微软雅黑
// @msyh: "Segoe UI", @base_sans_en, "Microsoft YaHei", "微软雅黑", @base_sans_cn, sans-serif;
@msyh: "Microsoft YaHei", "微软雅黑", @base_sans_cn, sans-serif;
@msyh_mono: @base_mono_sans_en, "Microsoft YaHei", "微软雅黑", @base_sans_cn, monospace;
@msyh_fw_bold: bold;
@msyh_fw_text: normal;
// ----------------------------------------
// Microsoft JhengHei 微軟正黑體
@msjh: "Segoe UI", @base_sans_en, "Microsoft JhengHei", "微軟正黑體", @base_sans_cn, sans-serif;
@msjh_mono: @base_mono_sans_en, "Microsoft JhengHei", "微軟正黑體", @base_sans_cn, monospace;
@msjh_fw_bold: bold;
@msjh_fw_text: normal;
// ----------------------------------------
// 阿里普惠体
@ali: "Alibaba PuHuiTi", @msyh;
@ali_mono: @base_mono_sans_en, @msyh_mono;
@ali_fw_bold: bold;
@ali_fw_text: normal;
// ----------------------------------------
// 思源黑体
@noto: "VLOOK Sans", "Noto Sans CJK SC", @msyh;
@noto_mono: @base_mono_sans_en, "VLOOK Sans", "Noto Sans CJK SC", @msyh_mono;
@noto_fw_bold: 900;
@noto_fw_text: normal;
// ----------------------------------------
// GenSenMaruGothic TW TTF 源泉圓體（思源黑体变种）
// https://www.maoken.com/freefonts/693.html
@gen: "GenSenMaruGothic TW TTF", @msyh;
@gen_mono: @base_mono_sans_en, "GenSenMaruGothic TW TTF", @msyh_mono;
@gen_fw_bold: 900;
@gen_fw_text: normal;

//=========================================
// 衬线混搭风格字体信息
// ----------------------------------------
// 经典宋体＋黑体
@cross_win_serif: @base_serif_en, @base_serif_cn, serif;
@cross_win_bold:  @base_sans_en, @base_sans_cn, sans-serif;
@cross_win_title: @cross_win_bold;
@cross_win_header: @cross_win_bold;
@cross_win_mono: @base_mono_serif_en, @base_sans_cn, monospace;
@cross_win_fw_bold: bold;
@cross_win_fw_title: bold;
@cross_win_fw_text: 500;
// ----------------------------------------
// 思源宋体＋黑体
@cross_noto_serif: "VLOOK Serif", "Noto Serif CJK SC", @base_serif_en, @base_serif_cn, serif;
@cross_noto_bold: "VLOOK Sans", "Noto Sans CJK SC",  @base_sans_en, @base_sans_cn, sans-serif;
@cross_noto_title: @cross_noto_serif;
@cross_noto_header: @cross_noto_bold;
@cross_noto_mono: @base_mono_serif_en, "VLOOK Sans", "Noto Sans CJK SC", @base_sans_cn, monospace;
@cross_noto_fw_bold: bold;
@cross_noto_fw_title: 900;
@cross_noto_fw_text: 500;

//=========================================
// 非衬线字体风格组合
// ----------------------------------------
// 风格 － Microsoft SC
// @sansFont: @msyh;
// @monoSansFont: @msyh_mono;
// @fontWeight4Sans: @msyh_fw_bold;
// ----------------------------------------
// 风格 － Microsoft TC
// @sansFont: @msjh;
// @monoSansFont: @msjh_mono;
// @fontWeight4Sans: @msjh_fw_bold;
// ----------------------------------------
// 风格 － Alibaba
// @sansFont: @ali;
// @monoSansFont: @ali_mono;
// @fontWeight4Sans: @ali_fw_bold;
// ----------------------------------------
// 风格 － Freedom
@sansFont: @noto;
@monoSansFont: @noto_mono;
@fontWeight4Sans: @noto_fw_bold;
@fontWeightText4Sans: @noto_fw_text;
// ----------------------------------------
// 风格 － Mellow
// @sansFont: @gen;
// @monoSansFont: @gen_mono;
// @fontWeight4Sans: @gen_fw_bold;

//=========================================
// 混搭字体风格组合
// ----------------------------------------
// 风格 － 经典
// @serifFont: @cross_win_serif;
// @serifBoldFont: @cross_win_bold;
// @serifTitle: @cross_win_title;
// @serifHeader: @cross_win_header;
// @monoSerifFont: @cross_win_mono;
// @fontWeight4Serif: @cross_win_fw_bold;
// @fontWeight4Title: @cross_win_fw_title;
// ----------------------------------------
// 风格 － 现代
@serifFont: @cross_noto_serif;
@serifBoldFont: @cross_noto_bold;
@serifTitle: @cross_noto_title;
@serifHeader: @cross_noto_header;
@monoSerifFont: @cross_noto_mono;
@fontWeight4Serif: @cross_noto_fw_bold;
@fontWeight4Title: @cross_noto_fw_title;
@fontWeightText4Serif: @cross_noto_fw_text;

//=========================================
// 注意：添加、修改或删除以下变量，或是 bass.less 中调整字体配置后，
// 须同步结合 base.less、FontStyler 类调整对应的样式内容

// 非衬线风格 Sans，启用则取消以下注释，并将 Serif + Sans 注释掉
@defaultFontStyle: sans;
@titleFont: @sansFont;
@subtitleFont: @sansFont;
@headerFont: @sansFont;
@textFont: @base_mono_sans_en, @sansFont;
@boldFont: @base_mono_sans_en, @sansFont;
@numberFont: @number_font, @base_mono_sans_en, @sansFont;
@tagFont: @boldFont;
@codeFont: @base_mono_sans_en, @monoSansFont;
@fontWeight4Serif: @fontWeight4Sans;
@fontWeight: @fontWeight4Sans;
@titleFontWeight: @fontWeight4Sans;
@textFontWeight: @fontWeightText4Sans;

// 衬线+非衬线混排风格 Serif + Sans，启用则取消以下注释，并将 Sans 注释掉
// @defaultFontStyle: serif;
// @titleFont: @serifTitle;
// @subtitleFont: @serifBoldFont;
// @headerFont: @serifHeader;
// @textFont: @base_mono_serif_en, @serifFont;
// @boldFont: @base_mono_sans_en, @serifBoldFont;
// @numberFont: @number_font, @base_mono_sans_en, @sansFont;
// @tagFont: @boldFont;
// @codeFont: @base_mono_sans_en, @monoSerifFont;
// @fontWeight: @fontWeight4Serif;
// @titleFontWeight: @fontWeight4Title;
// @textFontWeight: @fontWeightText4Serif;
