/**************************************
 *
 * VLOOK™ CSS 字体主题、圆角样式
 * (配合 base.less 进行使用)
 *
 * V2026.1
 * 2026-01-30
 * Powered by MAX°孟兆
 *
 * QQ Group: 805502564
 * Telegram Channel: t.me/vlook_markdown
 * email: maxchow@qq.com
 *
 * https://github.com/MadMaxChow/VLOOK
 * https://gitee.com/madmaxchow/VLOOK
 *
 *************************************/

@fontSize: 1em;//18px;//1em;
@fontSizePx: 16px;//18px;//16px;

// 字重 Rangs of font-weight:
//   字重 100 - Thin
//   字重 200 - Extra Light (Ultra Light)
//   字重 300 - Light
//   字重 400 - Regular (Normal、Book、Roman)
//   字重 500 - Medium
//   字重 600 - Semi Bold (Demi Bold)
//   字重 700 - Bold
//   字重 800 - Extra Bold (Ultra Bold)
//   字重 900 - Black (Heavy)

// 定义 Digital 字体适用的编码范围
@unicodeRangeForDigital: // U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E, U+0030-0039;
U+0021-002F, // !"#$%&'()*+,-./（不含空格）
U+003A-0040, // :;<=>?@
U+005B-0060, // [\]^_`
U+007B-007E, // {|}~
U+0030-0039; // 指 0123456789

// =========================================
// 基础字体信息
// -----------------------------------------
:root {
    --b-fm-digital: "Avenir Next Condensed", "DIN Cond", "Liberation Sans Narrow", "DejaVu Sans Condensed", "Roboto Condensed", "Noto Sans Condensed", "Bahnschrift Condensed", "Arial Narrow";
    --b-fm-sans-en: Arial, Tahoma, "Helvetica Neue", Helvetica;
    --b-fm-sans-cn:  "Heiti SC", "黑体-简", SimHei, "黑体";
    --b-fm-serif-en: "Times New Roman", Times;
    --b-fm-serif-cn: "Songti SC", "宋体-简", SimSun, "宋体";
    --b-fm-serif-mono: "Courier New", Courier;
    --b-fm-local-en: "SF Mono", Menlo, "Cascadia Mono", "Roboto Mono", "Droid Sans Mono", Consolas;
    --b-fm-tag: "SF Pro", "Avenir Next Condensed", "HarmonyOS Sans Condensed", "vivo Sans Cond", "Liberation Sans Narrow", "DejaVu Sans Condensed", "Roboto Condensed", "Noto Sans Condensed", "Bahnschrift Condensed", "Gill Sans MT Condensed", "Arial Narrow";
    --b-fm-kaiti: "Kaiti SC", "Kaiti TC", KaiTi, "楷体", "楷体-简", Kai, "KaiTi_GB2312", "楷体_GB2312", STKaiti, "华文楷体", "方正楷体", "SimKai", "中易楷体", "Chalkboard SE", "Marker Felt", Noteworthy, Charter, "Caveat Brush", Caveat;

    --b-fm-apple: "-apple-system", "SF Pro", "SF Pro Text", "PingFang SC";
    --b-fm-ms: "Segoe UI", SegoeUI, "Microsoft YaHei", "微软雅黑";
}
// 定义 Emoji / symbol 等符号字体
// 数值字体
@digital_font: var(--b-fm-digital);
// 基础非衬线字体
@base_sans_en: var(--b-fm-sans-en);
@base_sans_cn: var(--b-fm-sans-cn);
// 基础等宽字体
@base_serif_mono: var(--b-fm-serif-mono);

@mono_local_en: var(--b-fm-local-en);
// 基础衬线字体
@base_serif_en: var(--b-fm-serif-en);
@base_serif_cn: var(--b-fm-serif-cn);
// 基础楷体字体
@base_kaiti_sets: var(--b-fm-kaiti);

// 标签字体，在使用时需要同时指定 font-stretch: condensed
@tag_font: var(--b-fm-tag);

// 在主题中优先使用的等宽字体
@themeMonoFontFamily: "";

// 在主题中优先使用的正文字体
@themeTextFontFamily: "";

@GoMono: "Go Mono", GoMono;

// =========================================
// 定义 local 系统默认 风格字体信息
// ----------------------------------------
// 定义 Apple SF PingFang 苹方
@apple: var(--b-fm-apple);
// 定义 Microsoft YaHei 微软雅黑
@ms: var(--b-fm-ms);
// ---
@localFont: "-apple-system", "HarmonyOS Sans", "MiSans", "vivo Sans", Roboto, @apple, @ms, @base_sans_cn, sans-serif;
@monoLocalFont: @mono_local_en, @localFont, @base_sans_cn, monospace;
@fontBoldWeight4Local: bold;
@fontBoldWeight4LocalText: normal;

//=========================================
// 定义 Book 书香里 风格字体信息
// ----------------------------------------
@bookFont: @base_serif_en, @base_serif_cn, serif;
@bookBoldFont: @base_sans_en, @base_sans_cn, sans-serif;
@bookTitle: @bookBoldFont;
@bookHeader: @bookBoldFont;
@bookMono: @base_serif_mono, @base_sans_en, @base_sans_cn, monospace;
@fontBoldWeight4Book: bold;
@fontBoldWeight4BookTitle: bold;
@fontBoldWeight4BookText: normal;

//=========================================
// 定义 Zen 禅意斋 风格字体信息
// ----------------------------------------
@zenBaseFont: "霞鹜文楷";
// ---
@zenFont: @zenBaseFont, Georgia, @base_serif_en, @base_kaiti_sets, @base_serif_cn, serif;
@zenTitle: "阿里妈妈东方大楷", "DongFangDaKai", @zenBaseFont, Georgia, @base_serif_en, @base_kaiti_sets, @base_serif_cn, sans-serif;
@zenHeader: @zenTitle;
@zenMono: @GoMono, @base_serif_mono, @zenBaseFont, @base_serif_en, @base_serif_cn, monospace;
@fontBoldWeight4Zen: bold;
@fontBoldWeight4ZenTitle: normal;
@fontBoldWeight4ZenText: 300;

//=========================================
// 定义 Sans 小清新 风格字体信息
// ----------------------------------------
@sansBaseFont: "Noto Sans", "Noto Sans SC";
// ---
@sansFont: @sansBaseFont, @apple, @ms, @base_sans_cn, sans-serif;
@sansTitle: "白无常可可体", "白无常可可体常规", "BWCKKT-Bold", "KeKeTi", @sansFont;
@sansHeader: @sansTitle;
@notoTocFont: "白无常可可体", "白无常可可体常规", "BWCKKT-Regular", "KeKeTi";
@sansMono: "Noto Sans Mono", @base_serif_mono, @sansBaseFont, @localFont, @base_sans_cn, monospace;
@fontBoldWeight4Sans: bold;
@fontBoldWeight4SansTitle: bold;
@fontBoldWeight4SansText: normal;

//=========================================
// 定义 Serif 文艺范 风格字体信息
// ----------------------------------------
@serifBaseFont: "Noto Serif", "Noto Serif SC";
// ---
@serifFont: @serifBaseFont, @base_serif_en, @base_serif_cn, serif;
@serifBoldFont: @serifFont;
@serifTitle: "万事全兴体", "WSQuanXing-Regular", "WanShiQuanXing", @serifFont;
@serifHeader: @serifTitle;
@serifTocFont: "寒蝉端黑体", "ChillDuanSans_CompactRegular", "ChillDuanSans Condensed";
@serifMono: @GoMono, @base_serif_mono, @serifBaseFont, @base_serif_en, @base_serif_cn, monospace;
@fontBoldWeight4Serif: 800;
@fontBoldWeight4SerifTitle: normal;
@fontBoldWeight4SerifText: 500;

//=========================================
// 定义 Dyn 活力派 风格字体信息
// ----------------------------------------
@dynFont: @localFont;
@dynTitle: "DingTalk Sans", "DingTalk JinBuTi", "钉钉进步体", "DingTalk-JinBuTi", @apple, @ms, @base_sans_cn, sans-serif;
@dynHeader: @dynTitle;
@dynTocFont: "Smiley Sans", "得意黑 斜体";
@dynMono: @mono_local_en, @localFont, @base_sans_cn, monospace;
@fontBoldWeight4Dyn: bold;
@fontBoldWeight4DynTitle: normal;
@fontBoldWeight4DynText: normal;

//=========================================
// 定义 Yuan 康乐园 风格字体信息
// ----------------------------------------
@yuanFont: "阿里健康体2.0 中文", @apple, @ms, @base_sans_cn, sans-serif;
@yuanTitle: @yuanFont;
@yuanHeader: @yuanFont;
@yuanTocFont: "优设好身体", "YOUSHEhaoshenti", "HaoShenTi";
@yuanMono: @base_serif_mono, @yuanFont, @base_sans_en, @base_sans_cn, monospace;
@fontBoldWeight4Yuan: bold;
@fontBoldWeight4YuanTitle: bold;
@fontBoldWeight4YuanText: normal;

//=========================================
// 定义 Ink 稚笔信 风格字体信息
// ----------------------------------------
@inkFont: "字帮玩酷体", "字帮玩酷体-常规", "BangFont-WanKu-Regular", "WanKuTi", @apple, @ms, @base_sans_cn, sans-serif;
@inkTitle: "站酷快乐体2016修订版", "HappyZcool-2016", "KuaiLeTi", @inkFont;
@inkHeader: @inkTitle;
@inkMono: @GoMono, @base_serif_mono, @inkFont, @base_sans_en, @base_sans_cn, monospace;
@fontBoldWeight4Ink: bold;
@fontBoldWeight4InkTitle: normal;
@fontBoldWeight4InkText: normal;

//=========================================
// 不同字体风格配置集
:root {
    // 标准正文大小
    --v-f-size: @fontSizePx;

    // ---
    // 定义 local 系统默认 风格：系统本地默认字体 OS default
    --v-fm-tt-local: @localFont;
    --v-fm-stt-local: @localFont;
    --v-fm-h-local: @localFont;
    --v-fm-text-local: @themeTextFontFamily, @localFont;
    --v-fm-bd-local: @themeTextFontFamily, @localFont;
    --v-fm-key-local: @localFont;
    --v-fm-tag-local: @tag_font, @localFont;
    --v-fm-toc-local: @tag_font, @localFont;
    --v-fm-code-local: @themeMonoFontFamily, @monoLocalFont;
    --v-fw-bd-local: @fontBoldWeight4Local;
    --v-fw-toc-local: @fontBoldWeight4Local;
    --v-fw-tag-local: @fontBoldWeight4Local;
    --v-fw-tt-local: @fontBoldWeight4Local;
    --v-fw-text-local: @fontBoldWeight4LocalText;

    // ---
    // 定义 Book 书香里 风格：宋体 + 黑体
    --v-fm-tt-book: @bookTitle;
    --v-fm-stt-book: @bookBoldFont;
    --v-fm-h-book: @bookHeader;
    --v-fm-text-book: @themeTextFontFamily, @bookFont;
    --v-fm-bd-book: @themeTextFontFamily, @bookBoldFont;
    --v-fm-key-book: @bookBoldFont;
    --v-fm-tag-book: @tag_font, @bookBoldFont;
    --v-fm-toc-book: @tag_font, @bookBoldFont;
    --v-fm-code-book: @themeMonoFontFamily, @bookMono;
    --v-fw-bd-book: @fontBoldWeight4Book;
    --v-fw-toc-book: @fontBoldWeight4Book;
    --v-fw-tag-book: @fontBoldWeight4Book;
    --v-fw-tt-book: @fontBoldWeight4BookTitle;
    --v-fw-text-book: @fontBoldWeight4BookText;

    // ---
    // 定义 Zen 禅意斋
    --v-fm-tt-zen: @zenTitle;
    --v-fm-stt-zen: @zenFont;
    --v-fm-h-zen: @zenHeader;
    --v-fm-text-zen: @themeTextFontFamily, @zenFont;
    --v-fm-bd-zen: @themeTextFontFamily, @zenFont;
    --v-fm-key-zen: @zenFont;
    --v-fm-tag-zen: @tag_font, @zenFont;
    --v-fm-toc-zen: @zenTitle, @tag_font, @zenFont;
    --v-fm-code-zen: @themeMonoFontFamily, @zenMono;
    --v-fw-bd-zen: @fontBoldWeight4Zen;
    --v-fw-toc-zen: @fontBoldWeight4ZenTitle;
    --v-fw-tag-zen: @fontBoldWeight4Zen;
    --v-fw-tt-zen: @fontBoldWeight4ZenTitle;
    --v-fw-text-zen: @fontBoldWeight4ZenText;

    // ---
    // 定义 Sans 小清新
    --v-fm-tt-sans: @sansTitle;
    --v-fm-stt-sans: @sansFont;
    --v-fm-h-sans: @sansHeader;
    --v-fm-text-sans: @themeTextFontFamily, @sansFont;
    --v-fm-bd-sans: @themeTextFontFamily, @sansFont;
    --v-fm-key-sans: @sansFont;
    --v-fm-tag-sans: @notoTocFont, @tag_font, @sansFont;
    --v-fm-toc-sans: @notoTocFont, @tag_font, @sansFont;
    --v-fm-code-sans: @themeMonoFontFamily, @sansMono;
    --v-fw-bd-sans: @fontBoldWeight4Sans;
    --v-fw-toc-sans: @fontBoldWeight4Sans;
    --v-fw-tag-sans: @fontBoldWeight4Sans;
    --v-fw-tt-sans: @fontBoldWeight4SansTitle;
    --v-fw-text-sans: @fontBoldWeight4SansText;

    // ---
    // 定义 Serif 文艺范
    --v-fm-tt-serif: @serifTitle;
    --v-fm-stt-serif: @serifBoldFont;
    --v-fm-h-serif: @serifHeader;
    --v-fm-text-serif: @themeTextFontFamily, @serifFont;
    --v-fm-bd-serif: @themeTextFontFamily, @serifBoldFont;
    --v-fm-key-serif: @serifBoldFont;
    --v-fm-tag-serif: @serifTocFont, @tag_font, @serifBoldFont;
    --v-fm-toc-serif: @serifTocFont, @tag_font, @serifBoldFont;
    --v-fm-code-serif: @themeMonoFontFamily, @serifMono;
    --v-fw-bd-serif: @fontBoldWeight4Serif;
    --v-fw-toc-serif: @fontBoldWeight4Serif;
    --v-fw-tag-serif: @fontBoldWeight4Serif;
    --v-fw-tt-serif: @fontBoldWeight4SerifTitle;
    --v-fw-text-serif: @fontBoldWeight4SerifText;

    // ---
    // 定义 Dyn 活力派 风格
    --v-fm-tt-dyn: @dynTitle;
    --v-fm-stt-dyn: @localFont;
    --v-fm-h-dyn: @dynHeader;
    --v-fm-text-dyn: @themeTextFontFamily, @localFont;
    --v-fm-bd-dyn: @themeTextFontFamily, @localFont;
    --v-fm-key-dyn: @localFont;
    --v-fm-tag-dyn: @tag_font, @localFont;
    --v-fm-toc-dyn: @dynTocFont, @dynTitle, @tag_font, @localFont;
    --v-fm-code-dyn: @themeMonoFontFamily, @monoLocalFont;
    --v-fw-bd-dyn: @fontBoldWeight4Local;
    --v-fw-toc-dyn: @fontBoldWeight4DynTitle;
    --v-fw-tag-dyn: @fontBoldWeight4Local;
    --v-fw-tt-dyn: @fontBoldWeight4DynTitle;
    --v-fw-text-dyn: @fontBoldWeight4LocalText;

    // ---
    // 定义 Yuan 康乐园
    --v-fm-tt-yuan: @yuanTitle;
    --v-fm-stt-yuan: @yuanFont;
    --v-fm-h-yuan: @yuanHeader;
    --v-fm-text-yuan: @themeTextFontFamily, @yuanFont;
    --v-fm-bd-yuan: @themeTextFontFamily, @yuanFont;
    --v-fm-key-yuan: @yuanFont;
    --v-fm-tag-yuan: @tag_font, @yuanFont;
    --v-fm-toc-yuan: @yuanTocFont, @tag_font, @yuanFont;
    --v-fm-code-yuan: @themeMonoFontFamily, @yuanMono;
    --v-fw-bd-yuan: @fontBoldWeight4Yuan;
    --v-fw-toc-yuan: @fontBoldWeight4YuanText;
    --v-fw-tag-yuan: @fontBoldWeight4Yuan;
    --v-fw-tt-yuan: @fontBoldWeight4YuanTitle;
    --v-fw-text-yuan: @fontBoldWeight4YuanText;

    // ---
    // 定义 Ink 稚笔信
    --v-fm-tt-ink: @inkTitle;
    --v-fm-stt-ink: @inkFont;
    --v-fm-h-ink: @inkHeader;
    --v-fm-text-ink: @themeTextFontFamily, @inkFont;
    --v-fm-bd-ink: @themeTextFontFamily, @inkFont;
    --v-fm-key-ink: @inkFont;
    --v-fm-tag-ink: @tag_font, @inkFont;
    --v-fm-toc-ink: @inkTitle, @tag_font, @inkFont;
    --v-fm-code-ink: @themeMonoFontFamily, @inkMono;
    --v-fw-bd-ink: @fontBoldWeight4Ink;
    --v-fw-toc-ink: @fontBoldWeight4InkTitle;
    --v-fw-tag-ink: @fontBoldWeight4Ink;
    --v-fw-tt-ink: @fontBoldWeight4InkTitle;
    --v-fw-text-ink: @fontBoldWeight4InkText;
}

// ---
// 应用 local 风格（自动适配）
.applyFontStyle(@fontStyle) when (@fontStyle = local) {
    :root {
        --v-fs: local; // 设置为默认的字体风格
        --v-fm-tt: var(--v-fm-tt-local);
        --v-fm-stt: var(--v-fm-stt-local);
        --v-fm-h: var(--v-fm-h-local);
        --v-fm-text: var(--v-fm-text-local);
        --v-fm-bd: var(--v-fm-bd-local);
        --v-fm-key: var(--v-fm-key-local);
        // --v-fm-num: var(--v-fm-num-local);
        --v-fm-tag: var(--v-fm-tag-local);
        --v-fm-toc: var(--v-fm-toc-local);
        --v-fm-code: var(--v-fm-code-local);
        --v-fw-bd: var(--v-fw-bd-local);
        --v-fw-toc: var(--v-fw-toc-local);
        --v-fw-tag: var(--v-fw-tag-local);
        --v-fw-tt: var(--v-fw-tt-local);
        --v-fw-text: var(--v-fw-text-local);
    }
}
// ---
// 应用 Book 风格
.applyFontStyle(@fontStyle) when (@fontStyle = book) {
    :root {
        --v-fs: book; // 设置为默认的字体风格
        --v-fm-tt: var(--v-fm-tt-book);
        --v-fm-stt: var(--v-fm-stt-book);
        --v-fm-h: var(--v-fm-h-book);
        --v-fm-text: var(--v-fm-text-book);
        --v-fm-bd: var(--v-fm-bd-book);
        --v-fm-key: var(--v-fm-key-book);
        // --v-fm-num: var(--v-fm-num-book);
        --v-fm-tag: var(--v-fm-tag-book);
        --v-fm-toc: var(--v-fm-toc-book);
        --v-fm-code: var(--v-fm-code-book);
        --v-fw-bd: var(--v-fw-bd-book);
        --v-fw-toc: var(--v-fw-toc-book);
        --v-fw-tag: var(--v-fw-tag-book);
        --v-fw-tt: var(--v-fw-tt-book);
        --v-fw-text: var(--v-fw-text-book);
    }
}
// ---
// 应用 Zen 风格
.applyFontStyle(@fontStyle) when (@fontStyle = zen) {
    :root {
        // --v-f-size: 18px; // 调整默认的字体大小

        --v-fs: zen; // 设置为默认的字体风格
        --v-fm-tt: var(--v-fm-tt-zen);
        --v-fm-stt: var(--v-fm-stt-zen);
        --v-fm-h: var(--v-fm-h-zen);
        --v-fm-text: var(--v-fm-text-zen);
        --v-fm-bd: var(--v-fm-bd-zen);
        --v-fm-key: var(--v-fm-key-zen);
        // --v-fm-num: var(--v-fm-num-zen);
        --v-fm-tag: var(--v-fm-tag-zen);
        --v-fm-toc: var(--v-fm-toc-zen);
        --v-fm-code: var(--v-fm-code-zen);
        --v-fw-bd: var(--v-fw-bd-zen);
        --v-fw-toc: var(--v-fw-toc-zen);
        --v-fw-tag: var(--v-fw-tag-zen);
        --v-fw-tt: var(--v-fw-tt-zen);
        --v-fw-text: var(--v-fw-text-zen);
    }
}
// ---
// 应用 Sans 风格
.applyFontStyle(@fontStyle) when (@fontStyle = sans) {
    :root {
        --v-fs: sans; // 设置为默认的字体风格
        --v-fm-tt: var(--v-fm-tt-sans);
        --v-fm-stt: var(--v-fm-stt-sans);
        --v-fm-h: var(--v-fm-h-sans);
        --v-fm-text: var(--v-fm-text-sans);
        --v-fm-bd: var(--v-fm-bd-sans);
        --v-fm-key: var(--v-fm-key-sans);
        // --v-fm-num: var(--v-fm-num-sans);
        --v-fm-tag: var(--v-fm-tag-sans);
        --v-fm-toc: var(--v-fm-toc-sans);
        --v-fm-code: var(--v-fm-code-sans);
        --v-fw-bd: var(--v-fw-bd-sans);
        --v-fw-toc: var(--v-fw-toc-sans);
        --v-fw-tag: var(--v-fw-tag-sans);
        --v-fw-tt: var(--v-fw-tt-sans);
        --v-fw-text: var(--v-fw-text-sans);
    }
}
// ---
// 应用 Serif 风格
.applyFontStyle(@fontStyle) when (@fontStyle = serif) {
    :root {
        --v-fs: serif; // 设置为默认的字体风格
        --v-fm-tt: var(--v-fm-tt-serif);
        --v-fm-stt: var(--v-fm-stt-serif);
        --v-fm-h: var(--v-fm-h-serif);
        --v-fm-text: var(--v-fm-text-serif);
        --v-fm-bd: var(--v-fm-bd-serif);
        --v-fm-key: var(--v-fm-key-serif);
        // --v-fm-num: var(--v-fm-num-serif);
        --v-fm-tag: var(--v-fm-tag-serif);
        --v-fm-toc: var(--v-fm-toc-serif);
        --v-fm-code: var(--v-fm-code-serif);
        --v-fw-bd: var(--v-fw-bd-serif);
        --v-fw-toc: var(--v-fw-toc-serif);
        --v-fw-tag: var(--v-fw-tag-serif);
        --v-fw-tt: var(--v-fw-tt-serif);
        --v-fw-text: var(--v-fw-text-serif);
    }
}
// ---
// 应用 Dyn 风格
.applyFontStyle(@fontStyle) when (@fontStyle = dyn) {
    :root {
        --v-fs: dyn; // 设置为使用默认的字体风格
        --v-fm-tt: var(--v-fm-tt-dyn);
        --v-fm-stt: var(--v-fm-stt-dyn);
        --v-fm-h: var(--v-fm-h-dyn);
        --v-fm-text: var(--v-fm-text-dyn);
        --v-fm-bd: var(--v-fm-bd-dyn);
        --v-fm-key: var(--v-fm-key-dyn);
        // --v-fm-num: var(--v-fm-num-dyn);
        --v-fm-tag: var(--v-fm-tag-dyn);
        --v-fm-toc: var(--v-fm-toc-dyn);
        --v-fm-code: var(--v-fm-code-dyn);
        --v-fw-bd: var(--v-fw-bd-dyn);
        --v-fw-toc: var(--v-fw-toc-dyn);
        --v-fw-tag: var(--v-fw-tag-dyn);
        --v-fw-tt: var(--v-fw-tt-dyn);
        --v-fw-text: var(--v-fw-text-dyn);
    }
}

// ---
// 应用 Yuan 风格
.applyFontStyle(@fontStyle) when (@fontStyle = yuan) {
    :root {
        --v-fs: yuan; // 设置为使用默认的字体风格
        --v-fm-tt: var(--v-fm-tt-yuan);
        --v-fm-stt: var(--v-fm-stt-yuan);
        --v-fm-h: var(--v-fm-h-yuan);
        --v-fm-text: var(--v-fm-text-yuan);
        --v-fm-bd: var(--v-fm-bd-yuan);
        --v-fm-key: var(--v-fm-key-yuan);
        // --v-fm-num: var(--v-fm-num-yuan);
        --v-fm-tag: var(--v-fm-tag-yuan);
        --v-fm-toc: var(--v-fm-toc-yuan);
        --v-fm-code: var(--v-fm-code-yuan);
        --v-fw-bd: var(--v-fw-bd-yuan);
        --v-fw-toc: var(--v-fw-toc-yuan);
        --v-fw-tag: var(--v-fw-tag-yuan);
        --v-fw-tt: var(--v-fw-tt-yuan);
        --v-fw-text: var(--v-fw-text-yuan);
    }
}

// ---
// 应用 Ink 风格
.applyFontStyle(@fontStyle) when (@fontStyle = ink) {
    :root {
        // --v-f-size: 18px; // 调整默认的字体大小

        --v-fs: ink; // 设置为使用默认的字体风格
        --v-fm-tt: var(--v-fm-tt-ink);
        --v-fm-stt: var(--v-fm-stt-ink);
        --v-fm-h: var(--v-fm-h-ink);
        --v-fm-text: var(--v-fm-text-ink);
        --v-fm-bd: var(--v-fm-bd-ink);
        --v-fm-key: var(--v-fm-key-ink);
        // --v-fm-num: var(--v-fm-num-ink);
        --v-fm-tag: var(--v-fm-tag-ink);
        --v-fm-toc: var(--v-fm-toc-ink);
        --v-fm-code: var(--v-fm-code-ink);
        --v-fw-bd: var(--v-fw-bd-ink);
        --v-fw-toc: var(--v-fw-toc-ink);
        --v-fw-tag: var(--v-fw-tag-ink);
        --v-fw-tt: var(--v-fw-tt-ink);
        --v-fw-text: var(--v-fw-text-ink);
    }
}

// 生成 font-face 样式
.genFontFace(@fontFamily, @fontWeight, @fontStyle, @src) {
    @font-face {
        font-family: @fontFamily;
        font-weight: @fontWeight;
        font-style: @fontStyle;
        src: @src;
        font-display: swap;
    }
}

//=========================================
// 配套圆角风格集
@buttonRadiusCircle: 25px;
:root {
    // ---
    // 小号圆角
    --v-r-b-small: 10px; // 标准圆角
    --v-r-s-small: 6px; // 标准圆角内的小圆角
    --v-r-t-small: 8px; // 代码块、表格圆角
    --v-r-si-small: calc(var(--v-r-t-small) + 1px); // 标准圆角内的小圆角
    --v-r-tag-small: 7px; // 标签圆角

    // ---
    // 大号圆角
    --v-r-b-big: 18px; // 标准圆角
    --v-r-s-big: 9px; // 标准圆角内的小圆角
    --v-r-t-big: 16px; // 代码块、表格圆角
    --v-r-si-big: calc(var(--v-r-t-big) + 1px); // 标准圆角内的小圆角
    --v-r-tag-big: 10px; // 标签圆角
}
// ---
// 应用叶子圆角
.applyThemeRadius(@themeRadius, @xc: 0px) when (@themeRadius = leaf) {
    .applyThemeRadius(big);
    :root {
        --v-r-b-xc: @xc;
        --v-r-s-xc: calc(@xc - 1px);
        --v-r-t-xc: calc(@xc - 1px);
        --v-r-si-xc: calc(@xc - 2px);
        --v-r-tag-xc: calc(@xc - 1px);
    }
}
// ---
// 应用大号圆角
.applyThemeRadius(@themeRadius) when (@themeRadius = big) {
    :root {
        --v-r-b: var(--v-r-b-big); // 标准圆角
        --v-r-s: var(--v-r-s-big); // 标准圆角内的小圆角
        --v-r-t: var(--v-r-t-big); // 表格圆角
        --v-r-si:calc(var(--v-r-t) - 1px); // 标准圆角内的小圆角
        --v-r-tag: var(--v-r-tag-big); // 标签圆角
        // --v-r-c: var(--v-r-c-big); // 半距圆角
    }
    .setForNotLeaf();
}
// ---
// 应用小号圆角
.applyThemeRadius(@themeRadius) when (@themeRadius = small) {
    :root {
        --v-r-b: var(--v-r-b-small); // 标准圆角
        --v-r-s: var(--v-r-s-small); // 标准圆角内的小圆角
        --v-r-t: var(--v-r-t-small); // 表格圆角
        --v-r-si:calc(var(--v-r-t) - 1px); // 标准圆角内的小圆角
        --v-r-tag: var(--v-r-tag-small); // 标签圆角
        // --v-r-c: var(--v-r-c-small); // 半距圆角
    }
    .setForNotLeaf();
}
// ---
// 应用无圆角
.applyThemeRadius(@themeRadius) when (@themeRadius = none) {
    :root {
        --v-r-b: 0; // 标准圆角
        --v-r-s: 0; // 标准圆角内的小圆角
        --v-r-t: 0; // 表格圆角
        --v-r-si: calc(var(--v-r-t) - 1px); // 标准圆角内的小圆角
        --v-r-tag: 0; // 标签圆角
        // --v-r-c: 0; // 半距圆角
    }
    .setForNotLeaf();
}
// ---
// 为非 leaf 的圆角样式设置初始的 xc 值
.setForNotLeaf() {
    :root {
        // 对角值（叶子风格）
        --v-r-b-xc: var(--v-r-b);
        --v-r-s-xc: var(--v-r-s);
        --v-r-t-xc: var(--v-r-t);
        --v-r-si-xc: var(--v-r-si);
        --v-r-tag-xc: var(--v-r-tag);
        // --v-r-c-xc: var(--v-r-c);
    }
}